.TodoItem-todo{
    margin: auto;
    border: 2px solid springgreen;
    border-radius:  5px;
    padding: 10px;
    width: 20%;
}

.TodoItem-todo.done{
    text-decoration: line-through;
}

.addButton{
    border-radius: 1px;
  background-color: #6de69b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.addButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .addButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .addButton:hover span {
    padding-right: 25px;
  }
  
  .addButton:hover span:after {
    opacity: 1;
    right: 0;
  }

.myInput{
  width: 25%;
  background-color: #a17d7d2a;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.delButton {
    position: relative;
  background-color: #970303;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 5px;
  width: 120px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  }

  .delButton:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .delButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }