.TodoItem-todo{
    margin: auto;
    border-radius:  5px;
    padding: 15px;
    width: 25%;
    float: left;
    
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.TodoItem-todo.done{
    text-decoration: line-through;
}

.addButton{
  border-radius: px;
  background-color: #6de69b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 4px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px;
  border-radius: 4px;
}

.addButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .addButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .addButton:hover span {
    padding-right: 25px;
  }
  
  .addButton:hover span:after {
    opacity: 1;
    right: 0;
  }

.myInput{
  width: 25%;
  background-color: #a17d7d2a;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.delButton {
  color: white;
  border-radius: 4px;
  background-color: tomato;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  float: right;
  top: 100px;
  }
